body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right top, #1950dc, #e7f0ff);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 2rem;
  max-width: 800px;
  height: 200px;
  width: 95%;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1.5rem;
}

input[type="text"] {
  padding: 0.7rem;
  width: 60%;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.button-group {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#weatherInfo {
  margin-top: 1rem;
  font-size: 1.1rem;
}

#forecastTitle {
  margin-top: 2rem;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.forecast-card {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 1rem;
  margin: 0.5rem;
  width: 110px;
  text-align: center;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.forecast-card img {
  width: 50px;
  height: 50px;
}

canvas#tempChart {
  margin-top: 2rem;
}
